<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Cuentas</title>
    <link rel="stylesheet" href="../public/CSS/index.css" />
    <script
      src="https://kit.fontawesome.com/1088cc7807.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <div>
        <a href="/" class="inicio"
          ><i class="fa-solid fa-house"></i
        ></a>
      </div>
      <div class="listado">
        <h2>Resumen de Cuentas</h2>
        <div id="listado"></div>
      </div>
    </main>
    <script src="../../../src/verListado.js"></script>
  </body>
</html>
